@using Resources;

@model Agio.Flights.Presentation.Models.AircraftViewModel

@{
    ViewBag.Title = PresentationResource.AircraftEditTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm("Edit", "Aircraft", FormMethod.Post, new { @class = "needs-validation" }))
{
    @Html.EditorFor(mdl => mdl)
}

<div class="text-right">
    @Html.ActionLink("Back to List", "Index")
</div>