@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agio Global .NET Specialist Test</h1>
    <p class="lead">This is the first exercise of the proposed test.</p>
    <p>
        I have choosen a DDD as the pattern desing. There are three differentiated layers in the proposed solution:
        <ul>
            <li>DAL - Data Access Layer</li>
            <li>Business Layer</li>
            <li>Presentation Layer</li>
        </ul>
        <h3>DAL Layer</h3>
        This layer have been made using Entity Framwork 6 with Model to Database pattern. As its name is suggesting, this is the layer responsible to access the database for obtaining
        all necessary information and serve the next layer of the architecture: Business Layer.
        <br />
        <i>
            A must 'TODO' in this layer would be the implementation of a WEB API which would be the responsible for exposing the entities improving thus the Inversion of Control of the 
            layer. This has not been done due to a matter of duration of the test development.
        </i>
        <h3>Business Layer</h3>
        In this layer we are applying all the necessary business logic: GPS Coordinates distance calculation and Fuel Needed calculation for each Flight object. This layer are exposing
        DTOs (Data Transfer Objects) for the presentation layer abstracting it. The mapping between entities and DTOs have been done with AutoMapper nuget package.
        <br />
        <i>
            A must 'TODO' in this layer would be the implementation of a WEB API which would be the responsible for exposing the DTOs improving thus the Inversion of Control of the
            layer. This has not been done due to a matter of duration
            of the test development.
        </i>
        <h3>Presentation Layer</h3>
        This is the MVC 5 web project resposible for all the view resposabilities of the proposed solution. AutoMapper for mapping DTOs to ViewModels and Autofac for controlling the Inversion
        of Control (or Dependency Injection) have been used in this project. You will find more information about the areas of the web below.
    </p>
    <p><a href="https://github.com/somossisc/AgioGlobal.Exercise1" class="btn btn-primary btn-lg">GIT HUB Repository</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aircrafts Section</h2>
        <p>
            Gives you a list with all aircrafts created offering the "Edit" and "Delete" options for each row of the grid. A "Create" button
            is enabling the creation of new aircrafts in the system.
        </p>
        <p>@Html.ActionLink("Go", "Index", "Aircraft", new { @class = "btn btn-secondary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Airport Section</h2>
        <p>
            Gives you a list with all airports created offering the "Edit" and "Delete" options for each row of the grid. A "Create" button
            is enabling the creation of new airports in the system.
        </p>
        <p>@Html.ActionLink("Go", "Index", "Airport", new { @class = "btn btn-secondary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Flights Section</h2>
        <p>
            Here you will find a list of the created flights of the system with demanded information. You have too a "Create" button to add 
            new flights to the system.
        </p>
        <p>@Html.ActionLink("Go", "Index", "Flight", new { @class = "btn btn-secondary" })</p>
    </div>
</div>