@using Resources;

@model Agio.Flights.Presentation.Models.FlightViewModel

@{
    ViewBag.Title = PresentationResource.FlightCreateTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm("Create", "Flight", FormMethod.Post, new { @class = "needs-validation" }))
{
    @Html.EditorFor(mdl => mdl)
}

    <div class="text-right">
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }